<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="utf-8" th:remove="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" th:remove="all"/>
  <link href="../../static/css/layout.css" rel="stylesheet" th:remove="all"/>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ユーザ編集</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 class="pb-2 mt-4 mb-2 border-bottom">ユーザ編集</h1>
    <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">エラーメッセージ</div>
    <form th:action="@{/users/{id}(id=*{id})}" th:method="put" th:object="${editForm}" action="show.html" role="form" onsubmit="return check()">
      <div th:errors="*{global}" class="alert alert-danger" role="alert">エラーメッセージ</div>
      <div th:replace="~{users/_form :: content}">
        入力エリア
      </div>
      <input type="hidden" th:field="*{version}"/>
      <div class="row mb-3">
        <label for="createdAt" class="col-form-label col-sm-2">作成日時</label>
        <div class="col-sm-10">
          <input th:value="*{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}" type="text" readonly class="form-control-plaintext" id="createdAt"/>
        </div>
      </div>
      <div class="row mb-3">
        <label for="updatedAt" class="col-form-label col-sm-2">更新日時</label>
        <div class="col-sm-10">
          <input th:value="*{#temporals.format(updatedAt, 'yyyy/MM/dd HH:mm:ss')}" type="text" readonly class="form-control-plaintext" id="updatedAt"/>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="float-end">
              <a th:href="@{/users}" class="btn btn-secondary" href="index.html" role="button">一覧</a>
              <a th:href="@{/users/{id}(id=*{id})}" class="btn btn-secondary" href="show.html" role="button">詳細</a>
            <input type="submit" value="更新" class="btn btn-primary"/>
          </div>
        </div>
      </div>
    </form>
    <script src="../../static/js/users/edit.js" th:src="@{/js/users/edit.js}"></script>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
