<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="utf-8" th:remove="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" th:remove="all" />
  <link href="../../static/css/layout.css" rel="stylesheet" th:remove="all" />
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ファイル編集</title>
</head>
<body>
  <div class="container">
    <div layout:fragment="content">
      <h1 class="pb-2 mt-4 mb-2 border-bottom">ファイル編集</h1>
      <form th:action="@{/files/{id}(id=*{id})}" th:method="put" th:object="${form}" action="show.html" enctype="multipart/form-data" role="form">
        <div th:errors="*{global}" class="alert alert-danger" role="alert">エラーメッセージ</div>
        <div th:replace="~{files/_form :: content}">
          入力エリア
        </div>
        <input type="hidden" th:field="*{fileInfoVersion}" />
        <input type="hidden" th:field="*{fileDataVersion}" />
        <div class="row mb-3">
          <label for="fileName" class="col-form-label col-sm-2">ファイル名</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext">
              <a th:href="@{/files/{id}/data(id=*{id})}" th:text="*{fileName}" id="fileName" target="_blank" href="javascript:void(0);">xxxx.txt</a>
              <a th:href="@{/files/{id}/data(id=*{id},download)}" class="ms-2" href="javascript:void(0);"><img th:src="@{/webjars/bootstrap-icons/icons/download.svg}" alt="download" /></a>
            </span>
          </div>
        </div>
        <div class="row mb-3">
          <label for="updateFileName" class="col-form-label col-sm-2">ファイル名を変更</label>
          <div class="col-sm-10">
            <input th:field="*{updateFileName}" type="text" class="form-control" id="updateFileName" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="contentType" class="col-form-label col-sm-2">コンテンツタイプ</label>
          <div class="col-sm-10">
            <input th:field="*{contentType}" type="text" readonly class="form-control-plaintext" id="contentType" value="xxxx" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="length" class="col-form-label col-sm-2">ファイルサイズ</label>
          <div class="col-sm-10">
            <input th:value="*{#numbers.formatInteger(length, 1, 'COMMA')}" type="text" readonly class="form-control-plaintext" id="length" value="1,024" />
            <input th:value="*{length}" type="hidden" name="length" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="hashValue" class="col-form-label col-sm-2">ハッシュ値</label>
          <div class="col-sm-10">
            <input th:field="*{hashValue}" type="text" readonly class="form-control-plaintext" id="hashValue" value="xxxx" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="createdAt" class="col-form-label col-sm-2">作成日時</label>
          <div class="col-sm-10">
            <input th:value="*{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}" type="text" readonly class="form-control-plaintext" id="createdAt" value="2021/01/01 00:00:00" />
            <input th:value="*{createdAt}" type="hidden" name="createdAt" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="updatedAt" class="col-form-label col-sm-2">更新日時</label>
          <div class="col-sm-10">
            <input th:value="*{#temporals.format(updatedAt, 'yyyy/MM/dd HH:mm:ss')}" type="text" readonly class="form-control-plaintext" id="updatedAt" value="2021/01/01 00:00:00" />
            <input th:value="*{updatedAt}" type="hidden" name="updatedAt" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="float-end">
              <a th:href="@{/files}" class="btn btn-secondary" href="index.html" role="button">一覧</a>
              <a th:href="@{/files/{id}(id=*{id})}" class="btn btn-secondary" href="show.html" role="button">詳細</a>
              <input type="submit" value="更新" class="btn btn-primary" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
